# ignore local stuff starting with an underscore
_*

# extensions
*.tgz

# ignore IDE settings
.idea
olingo-odata4-js.iml

# ignore local config
localgrunt.config

# testing copies
../demo/scripts/odatajs-4.0.*

# build artefacts
dist/*.zip
dist/*.nupkg
doc/
tmp/

# nodejs temporary objects
node_modules/

# C.net server temporary objects
bin/
obj/
packages/
*.suo
*.user
